body{
    background-color : #ff9933;
}
 h1{
    font-size : 30px;
 }

 table, th, td{
    border : 1px solid;
}    

.jumbotron
{
    background-color : #99ff99;
    margin-top : 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

img{
    width: auto;
    height: auto;

}





